/* Based on the welcome page since we used that as template but added more */

.create{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-container {
  height: 626px;
  width: auto;
  background-color: transparent;
  border: none;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;


}


.ship {
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    width: auto;
    flex-direction: row;
    cursor: grab;
}

.cell {
    background-color: grey;
    height: 60px;
    width: 60px;
    border: 4px solid #464646
}

.highlight {
    background: rgb(63, 96, 215)!important;
}

